<!DOCTYPE html>
<html lang='en'>
<head>
  <title>You've found a Glitch!</title>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body id='error-page'>
  <%= image_tag('logo.svg') %>
  <h1>You've found yourself in a weird place.</h1>
</body>
</html>