<!--<header class="main-header">-->
<!--    <div class="container">-->
<!--        <h1 class="page-title">About us</h1>-->
<!--    </div>-->
<!--</header>-->

<div class="container">
    <div class="row">
        <!--<div class="col-xs-12">-->
        <!--    <div class="title-logo animated fadeInDown animation-delay-5">Kamea<span>Networks</span></div>-->
        <!--</div>-->
        <!--<div class="col-xs-12">-->
        <!--    <p class="slogan text-center animated bounceInLeft animation-delay-12">Discover our jobs and the rigorous process of <span>creation</span>. <br> Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>.</p>-->
        <!--</div>-->
        <div class="col-md-12 wow fadeInUp">
            <h2 class="right-line">About us</h2>
            <p class="p-lg"><strong>We’ll give you three reasons to like us!</strong></p>
              <ul>
                <li>Over 100 years cumulative experience at architecting IT solutions.</li>
                <li>Core focus on Secure IT infrastructure with expertise in other areas like web development and legacy systems.</li>
                <li>Successful execution of Fortune 500, Military and Federal Government projects - benefits the SMB clients.</li>
              </ul>
              <br>
            <p class="p-lg">Kamea Networks is ISO 9001:2015 certified. We are committed to providing high-quality services and improved processes now and for years to come.</p>
            <%= image_tag ("/assets/knt/ISO9001Logo.jpg"), :alt => "ISO 9001 Certified" %>
            <hr class="dotted">
            <!--<blockquote class="blockquote-color-bg-primary">-->
            <!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales.</p>-->
            <!--    <footer>Adrián Guerra Marrero, Artificial Reason CEO</footer>-->
            <!--</blockquote>-->
        </div>
        <!--<div class="col-md-4 wow fadeInUp">-->
        <!--    <h2 class="right-line">Our certifications</h2>-->
        <!--    <div class="row">-->
        <!--        <div class="col-md-6 col-sm-3 col-xs-6"><img src="assets/img/demo/intel.png" alt="" class="img-responsive"></div>-->
        <!--        <div class="col-md-6 col-sm-3 col-xs-6"><img src="assets/img/demo/microsoft.png" alt="" class="img-responsive"></div>-->
        <!--        <div class="col-md-6 col-sm-3 col-xs-6"><img src="assets/img/demo/nokia.png" alt="" class="img-responsive"></div>-->
        <!--        <div class="col-md-6 col-sm-3 col-xs-6"><img src="assets/img/demo/samsung.png" alt="" class="img-responsive"></div>-->
        <!--    </div>-->
        <!--</div>-->
    </div> <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">The Crew</h2>
        </div>
        <div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Chach DalSanto <small class="pull-right">CEO & Founder</small></h3>
                        <div class="clearfix"></div>
                        <%= image_tag "/assets/knt/chach.jpg", class: "alignleft imageborder", :alt => "Chach DalSanto Main Image" %>
                        <p class="no-margin-top">Chach DalSanto, our Founder and CEO, is an IT consultant recognized for his creative solutions 
                          approach to complex problems. For almost 20 years, he has successfully managed and architected solutions at 
                          enterprises and small businesses across the country as well as internationally, including the US Dept. of Energy, 
                          State Farm HQ, Argonne Laboratory, Motorola Solutions, and the University of Chicago</p>
                        <ul class="aboutChach">
                          <li>VSP</li>
                          <li>MCSA</li>
                          <li>Network</li>
                          <li>A+ Certified</li>
                        </ul>
                        <div class="clearfix"></div>
                        <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe, "https://www.linkedin.com/in/chachdalsanto", class: "social-icon-ar sm linkedin animated fadeInDown", :target => "_blank" %> 
                    </div>
                </div>
            </section>
        </div>
        <!-- <div class="col-md-6">-->
        <!--    <section>-->
        <!--        <div class="panel panel-default  animated fadeInDown animation-delay-11">-->
        <!--            <div class="panel-body">-->
        <!--                <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <img src="assets/img/demo/t2.jpg" alt="" class="alignleft imageborder">-->
        <!--                <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </section>-->
        <!--</div>-->
        <!-- <div class="col-md-6">-->
        <!--    <section>-->
        <!--        <div class="panel panel-default  animated fadeInDown animation-delay-14">-->
        <!--            <div class="panel-body">-->
        <!--                <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <img src="assets/img/demo/t3.jpg" alt="" class="alignleft imageborder">-->
        <!--                <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </section>-->
        <!--</div>-->
        <!-- <div class="col-md-6">-->
        <!--    <section>-->
        <!--        <div class="panel panel-default  animated fadeInDown animation-delay-17">-->
        <!--            <div class="panel-body">-->
        <!--                <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <img src="assets/img/demo/t6.jpg" alt="" class="alignleft imageborder">-->
        <!--                <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </section>-->
        <!--</div>-->
        <!-- <div class="col-md-6">-->
        <!--    <section>-->
        <!--        <div class="panel panel-default  animated fadeInDown animation-delay-18">-->
        <!--            <div class="panel-body">-->
        <!--                <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <img src="assets/img/demo/t4.jpg" alt="" class="alignleft imageborder">-->
        <!--                <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </section>-->
        <!--</div>-->
        <!-- <div class="col-md-6">-->
        <!--    <section>-->
        <!--        <div class="panel panel-default  animated fadeInDown animation-delay-18">-->
        <!--            <div class="panel-body">-->
        <!--                <h3 class="section-title no-margin-top">Sheldon Cooper <small class="pull-right">Programmer</small><div class="clearfix"></div></h3>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <img src="assets/img/demo/t5.jpg" alt="" class="alignleft imageborder">-->
        <!--                <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>-->
        <!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>-->
        <!--                <div class="clearfix"></div>-->
        <!--                <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>-->
        <!--                <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--    </section>-->
        <!--</div>-->
    </div>
</div> <!-- container -->