<div class="container">
    
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Virtual CIO</h2>
            </div>
            <div class="col-md-6">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/knt/cioMain.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <!--<h4 class="content-box-title margin-small">Virtual CIO</h4>-->
                            <p>Let our knowledgeable and experienced staff speak for your firm’s technology needs and strategy for a fraction of the cost of hiring another executive.</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                
            </div>
            <div class="col-md-6">
                <!--<ol class="service-list list-unstyled">-->
                <!--    <li class="wow fadeInUp">Highly redundant service paired with responsive and capable customer service.</li>-->
                <!--    <li class="wow fadeInUp">Industry leading 100 gigabyte mailbox size.</li>-->
                <!--    <li class="wow fadeInUp">Integrated premium spam filtering and back-ups are professionally managed.</li>-->
                <!--    <li class="wow fadeInUp">Expert migration services available.</li>-->
                <!--    <li class="wow fadeInUp">ISO certified provider means you can meet or exceed most regulatory compliance requirements.</li>-->
                <!--</ol>-->
            </div>
        </div>
    </section>
</div> <!-- container -->