<div class="container">
    
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">KameaKare</h2>
            </div>
            <div class="col-md-6">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/knt/KameaKareMain.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">Our flagship product</h4>
                            <p>KameaKare is our premier Managed Services solution which remotely supports your IT infrastructure and end-user systems.  As your all-inclusive solution, our dedicated HelpDesk is available 24/7/365!</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                
            </div>
            <div class="col-md-6">
                <ol class="service-list list-unstyled">
                    <li class="wow fadeInUp">KameaKare™ workstations are well protected, well monitored and help is always a click or a call away.</li>
                    <li class="wow fadeInUp">Encrypted sessions allow our HelpDesk staff to see what is happening in real-time.</li>
                    <li class="wow fadeInUp">Enterprise-grade anti-virus which keeps your systems safe.</li>
                    <li class="wow fadeInUp">Proactive patching is more reliable and keeps your systems safe from exploits.</li>
                </ol>
            </div>
        </div>
    </section>
</div> <!-- container -->