<div class="container">
    
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Reticle</h2>
            </div>
            <div class="col-md-6">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="assets/knt/reticleMain.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">What is it like using the RETICLE solution?</h4>
                            <p>Think Security without the maintenance hassles! Just a renewable subscription with no Cap-Ex costs!</p>
                            <p>Think about it -</p>
                            <ul class="reticleContent">
                              <li>No expensive hardware to purchase</li>
                              <li>No pricey software to acquire and patch</li>
                              <li>No power cooling or connectivity costs</li>
                              <li>No expensive consultants to manage the system</li>
                            </ul>
                            <p class="reticleContent">This <strong>all-in-one </strong>solution takes your systems monitoring from rock bottom to rock star in no time!</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                
            </div>
            <div class="col-md-6">
              <p>This small business starter bundle includes 24/7 monitoring of network and responsiveness activity for up to 25 items. This can be any combination of the following:</p>
                <ol class="service-list list-unstyled">
                    <li class="wow fadeInUp">File, Application and Domain Controller Servers (Windows, Mac, Linux, Unix, AS/400).</li>
                    <li class="wow fadeInUp">Firewalls, Switches and Routers</li>
                    <li class="wow fadeInUp">Websites and Email Services (in-house or hosted).</li>
                </ol>
                <p>NOTE: Additional categories may be possible - please contact us in advance for more information.</p>
            </div>
        </div>
    </section>
</div> <!-- container -->