<div class="container">
    
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">ZOTA&trade;</h2>
            </div>
            <div class="col-md-6">
                <div class="content-box box-default">
                    <div class="row">
                        <div class="col-md-4">
                            <%= image_tag ("/assets/knt/ZOTAMain.jpg"), class: "img-responsive", :alt => "ZOTA logo" %>
                        </div>
                        <div class="col-md-8">
                            <h4 class="content-box-title margin-small">ZOTA&trade; is a secure, cloud-based file backup service.</h4>
                            <p>Low-cost consumer options do not offer any protection or guarantees for your important data and use offshore, low-cost consumer grade equipment!  ZOTA&trade; is so powerful and secure, it provides D.O.D. compliant service!</p>
                        </div>
                    </div>
                </div>
                <hr class="dotted">
                
            </div>
            <div class="col-md-6">
                <ol class="service-list list-unstyled">
                    <li class="wow fadeInUp">Flexibility regarding bandwidth used, number of daily backups and which files or folders to be backed up or excluded.</li>
                    <li class="wow fadeInUp">Data does not leave the continental US.</li>
                    <li class="wow fadeInUp">Stored and transported in different encryption protocols – for your protection.</li>
                    <li class="wow fadeInUp">Compliant with many industries’ regulatory bodies including the U.S. Federal Government, D.O.D., as well as financial and legal organizations.</li>
                    <li class="wow fadeInUp">Information is professionally managed and stored on enterprise grade storage equipment by EMC – an industry leader.</li>
                </ol>
            </div>
        </div>
    </section>
</div> <!-- container -->