/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require preload
 *= require vendors
 *= require style-violet2
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require animate
 */


.mainKntLogo {
  width: 75%;
}

.indexTagLine {
    margin-left: 30px;
}

.kameaBtn {
    margin: 10px 10px 0 -390px;
}

@media (max-width: 767px) {
  .kameaBtn {
    margin: 0px;
  }
  
  .mobileLogo {
    height: 50px;
    margin-left: 70px;
  }
}

.reticleContent {
    text-align: left;
}

.aboutChach {
  margin-left: 185px;
}

.kntApp {
    display: block;
    max-width: 50%;
    height: auto;
}

.contactRequired {
  color: #FF0000;
}

.contactRecaptcha {
  margin-top: 20px;
}

.knt404 img {
  width: 100%;
}
@media (max-width: 767px) {
  .knt404 img {
    width: 90%;
  }
}